{% extends "base.html" %}
{% block content %}
<h1> Edit Trail </h1>
<br>
<div class="errormessage"> {{ error }} </div>
<div class="errormessage">
    To reference the user's name, include &lt;name&gt;.
    <br>
    Use &lt;they&gt;, &lt;them&gt;, &lt;their&gt;, and &lt;theirs&gt; to access the user's corresponding pronouns.
</div>
<form method="post">
    <h4>Trail Description</h4>
    <br>
    <div class="textarea">
        <textarea rows="20" cols="100" class="textarea" name="trail_description">{{trail.description}}</textarea>
    </div>
    <br>
    <br>
    <input type="text" class="input" name="trail_tags" value="{{tags}}" placeholder="tag1, tag2"/>
    <br>
    <br>
    <input type="submit" class="submitbutton" value="Update Trail"/>
    <div class="black-link-button"><a href="/trail/{{trail.url}}/delete">Delete Trail</a></div>
</form>
{% endblock %}